
body{
  background-color: black;
color: white;

}

/**NAVBAR**/
.search{
bottom: 10px;
}

.navbar{
  
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  font-size: 1.2rem;
  top: 0;
}
.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}
.nav-logo{
  
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  
}
.nav-menu{
  display: flex;
  list-style: none;
  text-align: center;
  
}
#nav-links{
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.nav-item{
  line-height: 40px;
  margin-right: 1rem;
}
.nav-item:after{
   content: "";
   display: block;
   height: 3px;
   width: 0;
   background: transparent;
   transition: width 0.7s ease,background-color 0.5s;
}
.nav-item:hover:after{
  width: 100%;
  background: purple;
}
.nav-icon{
  display: none;
}
.nav-item .active {
  color:purple;
  border: 1px solid purple;
}

/**NAVBAR ENDS**/

/**MARKET_PLACE SECTION**/
.market-container{
  margin-left: 35px;
  margin-top: 50px;
}
.intro h2{
  color: rebeccapurple;
  text-shadow: 1px 1px purple;
  font-size: 2rem;
}
.intro h1{
text-shadow: 3px 3px purple;
font-size: 2.5rem;
}

.intro p{
  font-size: 1.5rem;
   color: rebeccapurple;
}
.market-container button{
  width: 130px;
  height: 30px;
  border-radius: 15px;
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  margin-top: 20px;
  
}
.market-container button:hover{
  background-color: white;
  color: purple;
  transition: all .2s;
  width: 140px;
  font-size: 1rem;
}



@media screen and (max-width:960px) {
  

  .nav-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
   }
 
   .nav-icon{
     display: block;
     position: absolute;
     top: 0;
     right: 0;
     transform: translate(-100, 60%);
     font-size:1.8rem;
     cursor: pointer;
     color: pink;
   }
   #nav-links{
     padding: 1rem;
     width: 100%;
     display: table;
   }
   .nav-item .active{
     color: cyan;
     border: noneS;
   }
   .nav-menu.active{
     background-color:purple;
     left:0px;
     opacity: 1;
     transition: all 0.5s ease;
   }
}
